@model IMS_Code_First.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code First Home</title>
</head>
<body>
    <div> 
        In this class we have learned Code First approach and how the db is generated. On next class we will configar the db using cf.
    </div>
</body>
</html>
