<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Session: @Session["FName"]</h1>
        <h1>ViewData: @ViewData["MName"]</h1>
        <h1>ViewBox: @ViewBag.LName</h1>
        <h1>TempData: @TempData["FullName"]</h1>
    </div>
</body>
</html>
